.window-body {
    display: flex;
    flex-direction: column;
    gap: 2vw;

    margin-inline: 2%;
}

.window-body-info {
    position: sticky;
}

.window-body h1 {
    font-size: 4em;
    color: #000;
}






.projects {
    height: 440px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Estilização dos cards */
.card-project h1 {
    font-size: 0.5em;
}