.window-body {
    display: flex;
    flex-direction: column;
    gap: 2vw;


    margin-inline: 2%;
}

.window-body h1 {
    font-size: 4em;
    color: #000;
}






/* Estilização dos cards */
.card-project h1 {
    font-size: 0.5em;
}