/* Fontes */
@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url(https://raw.githubusercontent.com/tdcosta100/WindowsXP/master/fonts/framdit.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url(https://raw.githubusercontent.com/tdcosta100/WindowsXP/master/fonts/tahoma.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}



/* Global styles */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: 'Tahoma', sans-serif;
}

body {
	background: none;
}

.background-fixed {
	/* Define o posicionamento fixo em relação à tela */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* Define o background e o posiciona atrás do conteúdo */
	z-index: -1;
	/* Coloca o elemento atrás de todo o resto */

	background: url('../Assets/Images/homepage.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	/* Garante que o centro da imagem fique centralizado */
	background-position: center center;
}