/* Fontes */
@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url(https://raw.githubusercontent.com/tdcosta100/WindowsXP/master/fonts/framdit.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url(https://raw.githubusercontent.com/tdcosta100/WindowsXP/master/fonts/tahoma.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}



/* Global styles */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: 'Tahoma', sans-serif;
}

body {
	background: url('../Assets/Images/homepage.jpg') no-repeat center center fixed;
	background-size: cover;
}