.window {
    position: absolute;

    width: 50%;
    max-width: 700px;

    height: 80%;
    max-height: 500px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.title-bar {
    padding: 14px 10px;
}

.window-body h1 {
    font-size: 20px;
    color: #000;
}