.taskbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    /* background: linear-gradient(to top, #003399, #3366cc); */
    /* background: linear-gradient(to top, #0c3c7c 0%, #1c5ebc 40%, #3c79e0 100%); */
    background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);

    /* padding: 0 10px; */
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); */
    box-shadow: inset 0 5px 3px rgba(255, 255, 255, 0.233);
}





/* Start button styles */

.start-button {
    /* background: linear-gradient(to bottom, #339933, #006600); */
    /* background: linear-gradient(to bottom, #3bd14b 0%, #1a6f25 100%); */
    background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;

    border: 1px solid #004d00;

    color: white;
    padding: 5px 15px;

    border-top-right-radius: 5% 50%;
    border-bottom-right-radius: 5% 50%;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    height: 100%;

    display: flex;
    align-items: center;

    box-shadow: inset 0 1px #8fffa3;
}

.start-button p {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
    font-size: 14pt;
    font-style: italic;
    color: rgb(255, 255, 255);

    text-shadow: 1px 2px 2px rgb(69, 76, 16), 0 0 3px rgb(69, 76, 16);
}

.start-button:active {
    background: linear-gradient(to right, #156615, #079607);
}

.start-button img {
    display: block;

    width: 30px;

    margin-right: 5px;
}






/* Clock styles */

.content {
    display: flex;
    align-items: center;

    padding: 0 20px;

    background: #91aee4ad;

    border-left: 1px solid black;

    height: 100%;

    font-size: 8pt;

    box-shadow: inset 0px 2px 5px rgb(255, 255, 255);
}

.content .clock {
    width: 100%;
    text-align: center;
}